/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 29, 2022, 11:39:22 AM
    Author     : DELL
*/

.th{
    text-align: center;
    padding-right:50px;
    padding-left: 50px;
    background-color: pink;
    text-transform: uppercase;
    height: 50px;
}

.td_index{
    text-align: center;
    font-size: 30px
}